<%- include('partials/head'); -%>

<!-- landing page -->
<header>
  <nav>
    <div class="first clearfix">
      <img src="images/logo.png" class="logo">
     <h4 class="logo_head">Cafeteria</h4>
     <ul class="Navbar">
     
      <% if(employe) { %>
        <h1>Welcome <%= employe.full_name %></h1>
        <li><a href = "/logout">Log Out</a></li>
        <li><a href = "/orderconfirm">Cart</a></li>
      <% }  else {%>   
          <li><a href="/" class= "active"> Home</a></li>
          <li><a href="/"> Menu</a></li>
          <li><a href="/login"> Log in</a></li>
          <li><a href="/signup"> Sign Up</a></li>
          <li><a href="#About-us"> About Us</a></li>
      </ul>
      <% } %>
    </div>  
   </nav>
  <div class= "Home">
  <h1 class="changecolor">FEELING TIRED?</h1>
  <h1 class="changecolor1">HAVE A COFFEE</h1>
  <a href="/" class= "btn btn-full"> Order Now</a>
 </div>
 </header>


<!-- Beverages -->
<div class="Menu" id="Menu1">

  <div class="Food">
   <h1 class="menu_head">Beverages</h1>
  </div>
  
  <div class= "Gallery">

  <% menu.Beverages.forEach(function(menu){%>
   <div class="column">  
      <a href="/orderconfirm"><img src="<%= menu.imgName %>" ></a> 
     <div class ="menu_content">
       <h3><%= menu.name %></h3>
       <h3>Rs <%= menu.price %></h3>
       <a href="#" class="menu_btn">Order</a>
       <a href="#" class="meal_btn">Add to Meal</a>
     </div>
   </div>
<%  }) %>
  </diV>
  </div>
  
  <!-- snacks section -->
  <div class="Menu">
  
  <div class="Food">
   <h1 class="menu_head">Snacks</h1>
  </div>
  
  <div class= "Gallery">
      <% menu.Snacks.forEach(function(menu){%>
          <div class="column">  
             <a href="/orderconfirm"><img src="<%= menu.imgName %>" ></a> 
            <div class ="menu_content">
              <h3><%= menu.name %></h3>
              <h3>Rs <%= menu.price %></h3>
              <a href="#" class="menu_btn">Order</a>
              <a href="#" class="meal_btn">Add to Meal</a>
            </div>
          </div>
       <%  }) %>
         </diV>
         </div>
  
  <!-- Dessert and ice creams -->
  
  <div class="Menu">
  
  <div class="Food">
   <h1 class="menu_head">Dessert and Ice-Creams</h1>
  </div>
  <div class= "Gallery">
  <% menu.Dessert.forEach(function(menu){%>
      <div class="column">  
         <a href="/orderconfirm"><img src="<%= menu.imgName %>" ></a> 
        <div class ="menu_content">
          <h3><%= menu.name %></h3>
          <h3>Rs <%= menu.price %></h3>
          <a href="#" class="menu_btn">Order</a>
          <a href="#" class="meal_btn">Add to Meal</a>
        </div>
      </div>
   <%  }) %>
     </diV>
     </div>


      

<%- include('partials/footer'); -%>
  