
<%- include('partials/header'); -%>
<h1 class="profile_success"> Registration Successfull</h1>

<div class = "profile">

    <img class="image" src="data:image/<%=image.img.contentType%>;base64,
    <%=image.img.data.toString('base64')%>" alt=""/>
=======
    <!-- <img class="image" src="images/my image.jpg" alt=""/> -->
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <div> 
           <label>Select your profile picture:</label> <input type="file"   name="image" />
        </div>
        <div> 
            <input type="submit" name="btn_upload_profile_pic" value="Upload" /> 
        </div>
        </form>

    <h2 class= "name"><%= employe.full_name %></h2>
    <div class = "wrapper">
    <p class=" organisation"><span>Organisation:</span> <%= employe.organisation_name %></p>
    <p class=" Email"><span>Email:</span> <%= employe.email %></p>
    <p class= "Employe_id"><span>Employe ID:</span> <%= employe.employe_id %> </p>
    <p class = "Registration_id"><span>Registration ID:</span> 
        <% var str = String(employe._id); %>
        <% var matches = str.match(/\d+/g); %>
        <%  matches =  matches.join(""); %>
        <% if(matches) { %>
          <%= matches %>
       <% } %>
    </p>
    <p class = "Mobile_no"><span>Mobile Number:</span> <%= employe.mobile_no %></p>
</div>
</div>


<p class = "Menu_btn"><a href="/">Back to homepage</a></p>